/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  margin: auto;
  }
  
  article {
  font-size: 1.7vh;
  }
  
  h1 {
    font-size: 2vh;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 5vh;
  }
  
  figcaption {
    font-size: .8em;
  }